<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <title>SBA Region Analysis</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static "web_app/css/style.css" %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    </head>
    <body>
        <div id="root">
        </div>
        <script>
                // TODO: don't use global vars like this
                var regionsUrl = "{% url 'api_server:regions' %}"
                var businessesUrl = "{% url 'api_server:businesses' %}"
                var topoUrl = "{% static "web_app/tempdata/ca_zips_geo.json" %}"
        </script>
        <script src="{% static "web_app/js/index.bundle.js" %}"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMkwqz_xwd2fA2nAKy5s5ruzdAIy6T354&callback=init">
        </script>
    </body>
</html>
