.cache
*.pyc
*.zip
*.pyc
*.csv
*.bak
*.gz
*.jar
*.pkl
*.ipynb_checkpoints
*.gml
*.data
*.xlsx
*.DS_Store
*.dat
django_tutorial/first_project/web_app/static/web_app/*
django_tutorial/first_project/web_app/coverage
**/node_modules

table_def_dump.py
pg_dump_output.sql
pipeline/pipeline_cron.sh
