beautifulsoup4
geopandas
geopy
jupyter
jupyter-client
jupyter-console
jupyter-core
matplotlib
nbconvert
nbformat
numpy
numpydoc
pandas
pep8
psycopg2
pyflakes
pylint
pytest
python-google-places
PyYAML
scikit-image
scikit-learn
scipy
seaborn
SQLAlchemy
statsmodels
