html, body {
  height: 100%;
  margin: 10px;
  padding: 0;
  background: #eee;
}

#root, #root>div, #map { height: 100%; margin: 0; padding: 0; }

.nicebox {
  position: absolute;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  z-index: 5;
  box-shadow: 0 4px 6px -4px #333;
  padding: 5px 10px;
  background: rgb(255,255,255);
  background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
  border: rgb(229, 229, 229) 1px solid;
}
#controls {
  top: 10px;
  right: 50px;
}

#legend { display: flex; display: -webkit-box; padding-top: 7px }

.color-key {
  background: linear-gradient(to right,
    hsl(5, 69%, 54%) 0%,
    hsl(29, 71%, 51%) 17%,
    hsl(54, 74%, 47%) 33%,
    hsl(78, 76%, 44%) 50%,
    hsl(102, 78%, 41%) 67%,
    hsl(127, 81%, 37%) 83%,
    hsl(151, 83%, 34%) 100%);
  flex: 1;
  -webkit-box-flex: 1;
  margin: 0 5px;
  text-align: left;
  font-size: 1.0em;
  line-height: 1.0em;
}


#filter-min {
  float: left;
}

#filter-max {
  float: right;
}

.rc-slider {
  clear: both;
}

.histogram {
  height: 100px;
}

.histogram, .slider-with-labels {
  margin-left: 30px;
  width: 200px;
}

.metrics {
  margin: 0 auto;
  /* TODO: use a real grid system instead of forcing 1280px width for these */
  max-width: 1280px;
}

.metrics-filters {
  text-align: center;
}

.metrics-filters .metrics-filters-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  font-size: 24px;
}

.metrics-filters .metrics-filters-button {
  vertical-align: top;
  margin-top: 10px;
}

.metrics-section-container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 1310px;
}

.metrics-section {
  width: 50%;
  max-width: 625px;
  min-height: 200px;
  box-sizing: content-box;
  margin: 30px 30px 0 0;
}